#p1{
    color: rgb(89,87,85);
}

#p2{
    color: rgb(158, 83, 205);
}

#p3{
    color: rgb(234, 132, 254);
}

#p4{
    color: rgb(45, 98, 78);
}

#p5{
    color: rgb(249, 246, 54);
}





















