#box{
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    animation: move-box 10s;
    animation-timing-function: ease-in-out;
}

@keyframes move-box{
    0%{
        left: 0px;
    }
    100%{
        left: 500px;
    }
}



#box1{
    width: 150px;
    height: 150px;
    background-color: rgb(180, 123,255);
    animation: rgb-color 5s;
}

@keyframes rgb-color{
    from{
        background-color: red;
    }
    to{
        background-color: blue;
    }
}


#box2{
    width: 150px;
    height: 150px;
    background-color: aqua;
    animation: box-rotate 5s;
}

@keyframes box-rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#box3{
    width: 250px;
    height: 250px;
    background-color: yellowgreen;
    animation: box-pulse 5s;
}

@keyframes box-pulse{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}


#box4{
    width: 150px;
    height: 150px;
    background-color: red;
    animation: bounce 5s;
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    15%{
        transform: translateY(-100px);
    }
    30%{
        transform: translateY(0);
    }
    45%{
        transform: translateY(-100px);
    }
    60%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}



#box5{
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}



#box6{
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    animation: move-box 10s 2s;
}
  
@keyframes move-box{
      0%{
          left: 0;
      }
      100%{
          left: 500px;
    }
}



#move-box-1{
    width: 150px;
    height: 150px;
    background-color: red;
    animation: move-box 5s 2s;
}
#move-box-2{
    width: 150px;
    height: 150px;
    background-color: blue;
    animation: move-box 5s 3s;
}
#move-box-3{
    width: 150px;
    height: 150px;
    background-color: purple;
    animation: move-box 5s 4s;
}
  
@keyframes move-box{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(500px);
    }
}


#box7{
    width: 150px;
    height: 150px;
    background-color: red;
    animation: box-fade 10s;
}

@keyframes box-fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}