body{
    width: 150px;
    height: 150px;
    color: blueviolet;
    background-color: blanchedalmond;
}

p{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    max-width: 77%;
}

@media (max-width: 1300px) {
    p {
        font-size: 35px;
    }
}

@media (max-width: 1100px) {
    p {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    p {
        font-size: 25px;
    }
}