#id1{
    color: rgb(34, 253, 123);
    background-color: rgb(255, 213, 0);
}

#id2{
    color: rgb(166, 176, 20);
    background-color: rgb(24, 12, 133);
}

#id3{
    color: rgb(60, 107, 79);
    background-color: rgb(158, 191, 237);
}

#id4{
    color: rgb(255, 57, 139);
    background-color: rgb(255, 213, 0);
}

#id5{
    color: rgb(0, 255, 102);
    background-color: rgb(185, 68, 224);
}